.box {
  white-space: pre-wrap;
}


.DivBordered {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
  align-items: center;
}


/*!* 화면 크기가 768 이하일떄 *!*/
@media screen and (max-width: 768px) {
  .doughnut {
    display: none;
  }
  .noDoughnut {
    display: block;
  }
  .DivContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .DivContainer h3 {
    background: #f6f7f3;
    // backgroundColor: 'rgba( 47, 138, 241, 0.1 )',
    color: black;
    font-weight: bold;
    padding: 10px;
    margin: 1px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 80%;
    text-align: center;
  }
  .DivHalfMenu {
    text-align: center;
    width: 80.1%;
    border: solid #d2e5bf;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .shopListItems {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    width: 100%;
    margin: 10px;
    border: 7px solid #D3D6CD;
    border-radius: 15px;
  }

  .shopListItems2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    width: 100%;
    margin: auto;
    border: 6px solid #D3D6CD;
    border-radius: 15px;
  }
}

/*!* 화면 크기가 768 이상일떄 *!*/
@media screen and (min-width: 768px) {
  .doughnut {
    margin-top: 10px;
    display: block;
    width: 35%;
    height: 35%;
  }
  .noDoughnut {
    display: none;
  }
  .DivContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    //width: 100%;
    //border: solid red;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
  }
  .DivContainer h3 {
    background: #f6f7f3;
    // backgroundColor: 'rgba( 47, 138, 241, 0.1 )',
    color: black;
    font-weight: bold;
    padding: 10px;
    margin: 1px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 80%;
    text-align: center;
  }
  .DivHalfMenu {
    text-align: center;
    width: 80.1%;
    border: solid #d2e5bf;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .shopListItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 7px solid #D3D6CD;
    border-radius: 15px;
  }

  .shopListItems2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    width: 65%;
    margin: 10px;
    border: 6px solid #D3D6CD;
    border-radius: 15px;
  }
}


.shopListContents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  width: 90%;
  margin: 10px;
}

.shopMapBtn {
  background-color: #7da184;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 17px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.1);
  box-shadow: 0 10px 30px 0 rgba(11, 156, 49, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 25px 20px 40px 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.shopMapBtn:hover {
  background-color: #d2e5bf;
  cursor: pointer;
}

.shopListBtn {
  background-color: #D3D6CD;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 17px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.1);
  //box-shadow: 0 10px 30px 0 rgba(11,156,49,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 3px 20px 40px 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.shopListBtn:hover {
  background-color: #C7CCC5;
  cursor: pointer;
}

//#D3D6CD
//#FFFCFD
//#d3d6cd