.mainBanner {
    padding: 10px;
    background-color: #f5f5f5;
}

.goodsSide{
    height: 550px;
    width: 100%;
    padding: 7px;
    /*border : solid 1px #7EA0EA;*/
    /*border-radius: 40px;*/
    white-space: pre-wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
    font-family: Chosunilbo_myungjo;
    font-size: large;
}

.goodsSide:hover{
    /*cursor: pointer;*/
    /*background-color: #d2e5bf;*/
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.divRecommend{
    /*text-align: center;*/
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    padding: 10px;

    /*border: solid red;*/
}