
.aa span{
    opacity: 0.5;
}

.b span{
    opacity: 0.5;
}

.aa span:hover {
    opacity: 1.0;
    /*color: cornflowerblue;*/
    font-size: x-large;
    text-shadow: 4px 2px 2px gray;
    cursor: pointer;
}
.b span:hover {
    opacity: 1.0;
    /*color: cornflowerblue;*/
    font-size: x-large;
    text-shadow: 4px 2px 2px gray;
    cursor: pointer;
}

.aa{
    height: 30px;
    vertical-align: center;
    text-align: center;
    margin: 25px;
}

.aa lebel{
    position: fixed;
}

.b{
    height: 50px;
    vertical-align: center;
}



