@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body, root {
  height: 100%;
}

.bodyWrapper {
  height: 100%;
  position: relative;
  //border: solid saddlebrown;
}

.bodyContent {
  //border: solid mediumvioletred;
  padding-bottom: 100px;
  min-height: 1120px;
}

/*!* 화면 크기가 768 이하*!*/

@media screen and (max-width: 768px) {
  .header {
    font-family: 'Cafe24Oneprettynight';
    font-size: 12px;
    font-weight: bold;
  }
  .button {
    background-color: cornflowerblue;
    color: black;
    border: 0.5px solid black;
    border-radius: 10px;
    outline: 0;
    padding: 3px;
    font-family: 'Cafe24Oneprettynight';
    font-size: large;
    cursor: pointer;
    background-color: white;
    margin-top: -7px;
    margin-right: -10px;
  }
}

/*!* 화면 크기가 768 이상일떄 *!*/
@media screen and (min-width: 768px) {
  .header {
    font-family: 'Cafe24Oneprettynight';
    font-size: 22px;
    font-weight: bold;
  }
  .button {
    background-color: cornflowerblue;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    outline: 0;
    padding: 10px;
    font-family: 'Cafe24Oneprettynight';
    font-size: large;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    margin-top: -7px;

  }
}


.header a {
  color: black;
  text-decoration: none;
}

.header li {
  float: left;
  list-style: none;
  display: list-item;
  margin-left: 0px;
  text-align: -webkit-match-parent;
  margin-right: 1em;
  vertical-align: center;
  /*line-height: 35px ;*/
}

