.nav {
    height: 30vh;
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.nav a{
    font-size: x-large;
    border: #a8bcfb solid 1px;
    padding: 15px;
    border-radius: 10px;
    background-color: ghostwhite;
}

.nav a:hover{
    background-color: #a8bcfb;
    color: white;
}

.a {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.a:after {
    content: "";
    position: absolute;
    background-color: dodgerblue;
    height: 3px;
    width: 100%;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.a:focus {
    color: dodgerblue;
}

.a:focus:after {
    width: 100%;
}

.btn {
    background-color: azure;
    border: gray;
}

.goodsDetail{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-right: #282c34 solid 1px;
}

.goodsImageDiv{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.goodsImage{
    max-width:300px;
    max-height:300px;
}

.goodsForm{
    display: flex;
    align-items: center;
    vertical-align: center;
}

.goodsForm select{
    width: 100px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}