.goodstbl td{
    border: solid green;
    margin : auto;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}


.editbtn{
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 10px;
    outline: 0;
    padding: 10px;
}
.resertbl td{
    margin : auto;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
.resertbl th{
    border: #0099CC solid;
}
/*순번*/
.resertbl th:nth-child(1){
    width: 3%;
}
/* 상품분류*/
.resertbl th:nth-child(3){
    width: 7%;
}
/*상품상태*/
.resertbl th:nth-child(5){
    width: 5%;
}
/*주문수량*/
.resertbl th:nth-child(6){
    width: 8%;
}
/*주문수량*/
.resertbl th:nth-child(7){
    width: 4%;
}
/*요청사항*/
.resertbl th:nth-child(8){
    width: 11%;
    /*overflow: hidden;*/
    table-layout: fixed;
}
/*상태*/
.resertbl th:nth-child(10){
    width: 5%;
}



.goodsNameS{
    width: 250px;
    margin-right: 10px;
}

.favor td{
    border: solid greenyellow;
}
.favor th{
    border: #0099CC solid;
    padding: 8px;
}