.ShopViewDivContainer {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 20px;
    padding: 10px;
    font-size: larger;
    //border: solid #0d0d0d;
}

.ShopViewDivContainerContainer {
    display: flex;
    flex-direction: column;
    width: 96%;
    border-radius: 5px;
    margin: 30px;
    align-items: center;
}

.shopDataBtn{
    width: 50%;
    cursor: pointer;
    padding: 14px;
    border: solid grey;
    font-family: 'Chosunilbo_myungjo';
    font-size: large;
    font-weight: bold;
    color: white;
    //background-color: yellow;
}

.shopDatadiv{
    border: solid #EFEFEF;
    margin: 0px 100px 0px;
    border-radius: 10px;
}