.ShopViewDivContainer {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 20px;
    padding: 10px;
}

.ShopViewDivContainerContainer {
    display: flex;
    flex-direction: column;
    width: 96%;
    border-radius: 5px;
    margin: 30px;
    align-items: center;
}


